# Cobbled together from the following:
# https://www.containiq.com/post/deploy-redis-cluster-on-kubernetes
# maybe we should just use the bitnami chart...
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  ports:
    - port: 6379
      name: redis
  clusterIP: None
  selector:
    app: redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    name: redis
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: redis
  template:
    metadata:
      labels:
        name: redis
    spec:
      containers:
        - name: app
          image: redis:5.0.4
          resources:
            requests:
              memory: 512Mi
              cpu: 1
            limits:
              memory: 1Gi
      tolerations:
        - key: resource-domain
          operator: Equal
          value: gtfsrtv3
          effect: NoSchedule
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: resource-domain
                operator: In
                values:
                - gtfsrtv3
