# Names are in alphabetical order, no priority or seniority is implied

# repo owners
*                                       @hunterowens @evansiroky

# infra components
/.github/workflows                      @SorenSpicknall
/ci                                     @SorenSpicknall
/iac                                    @SorenSpicknall
/kubernetes                             @SorenSpicknall

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @SorenSpicknall
/images                                 @SorenSpicknall

# project documentation
/docs                                   @lauriemerrell @tiffanychu90

# actual pipeline code
/airflow                                @lauriemerrell @SorenSpicknall
/jobs                                   @lauriemerrell @SorenSpicknall
/runbooks                               @lauriemerrell @SorenSpicknall
/services                               @lauriemerrell @SorenSpicknall
/warehouse                              @evansiroky @lauriemerrell @SorenSpicknall @tiffanychu90
