# Names are in alphabetical order, no priority or seniority is implied

# repo owners
*                                       @atvaccaro

# infra components
/.github/workflows                      @atvaccaro @SorenSpicknall
/ci                                     @atvaccaro @SorenSpicknall
/iac                                    @atvaccaro
/kubernetes                             @atvaccaro

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @atvaccaro @SorenSpicknall
/images                                 @atvaccaro @SorenSpicknall

# actual pipeline code
/airflow                                @atvaccaro @SorenSpicknall
/jobs                                   @atvaccaro @SorenSpicknall
/runbooks                               @atvaccaro @SorenSpicknall
/services                               @atvaccaro @SorenSpicknall
/warehouse                              @atvaccaro @SorenSpicknall
