source_up_if_exists

watch_file .devcontainer/flake.nix
watch_file .devcontainer/flake.lock

use flake .devcontainer/

export PYTHONDONTWRITEBYTECODE=1
export PYTHONUNBUFFERED=1
export PYTHONIOENCODING=utf-8
export UV_COMPILE_BYTECODE=1
export UV_LINK_MODE=copy
