# repo owners
*                                       @evansiroky

# devops components
/kubernetes                             @lottspot @themightychris
/ci                                     @lottspot
/services                               @lottspot

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @lottspot @charlie-costanzo

# project documentation
/docs                                   @charlie-costanzo @holly-g

# payments data
/airflow/dags/payments*/*               @mjumbewu @evansiroky

# gtfs data
/airflow/data/agencies.yml              @Nkdiaz @evansiroky

# devops GitHub workflows
/.github/workflows/service-build.yml    @lottspot
/.github/workflows/service-release.yml  @lottspot

# publish GitHub workflows
/.github/workflows/publish-docs.yml     @Nkdiaz
/.github/workflows/push_to_gcloud.yml   @lottspot

# qa GitHub workflows
/.github/workflows/lint.yml              @themightychris

# misc GitHub workflows
/.github/workflows/board-move-issues.yml          @charlie-costanzo @holly-g
/.github/workflows/update_gcloud_requirements.yml @evansiroky
