# repo owners
*                                       @atvaccaro

# devops components
/kubernetes                             @lottspot @themightychris
/ci                                     @lottspot @atvaccaro
/services                               @lottspot @atvaccaro

# jupyter service, e.g. updating the image
/kubernetes/apps/charts/jupyterhub      @lottspot @charlie-costanzo @atvaccaro

# project documentation
/docs                                   @charlie-costanzo @holly-g

# payments data
/airflow/dags/payments*/*               @mjumbewu

# gtfs data
/airflow/data/agencies.yml              @lauriemerrell @evansiroky

# gtfs rt
/airflow/dags/gtfs*/*                   @lauriemerrell @atvaccaro
/airflow/dags/rt*/*                     @lauriemerrell @atvaccaro

# airtable
/airflow/dags/airtable*/*               @lauriemerrell

# devops GitHub workflows
/.github/workflows/service-build.yml    @lottspot @atvaccaro
/.github/workflows/service-release.yml  @lottspot @atvaccaro

# publish GitHub workflows
/.github/workflows/publish-docs.yml     @atvaccaro
/.github/workflows/push_to_gcloud.yml   @lottspot @atvaccaro @lauriemerrell

# qa GitHub workflows
/.github/workflows/lint.yml              @themightychris @atvaccaro

# misc GitHub workflows
/.github/workflows/board-move-issues.yml          @charlie-costanzo @holly-g
/.github/workflows/update_gcloud_requirements.yml @atvaccaro
