Port 22
ChallengeResponseAuthentication yes
AuthorizedKeysFile      .ssh/authorized_keys
Subsystem       sftp    internal-sftp
ForceCommand internal-sftp
ChrootDirectory /sftp
Include /etc/ssh/sshd_config.d/*.conf
