interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://services.blackcattransit.com/api/APIModules/GetNTDReportsByYear/BCG_CA/2026
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://storage.googleapis.com/storage/v1/b/calitp-staging-pytest/o/all_NTDReporting%2Fyear%3D2026%2Fdt%3D2026-01-10%2Fts%3D2026-01-10T00%3A00%3A00%2B00%3A00%2Fall_ntdreports.jsonl.gz?fields=name&prettyPrint=false
  response:
    body:
      string: '{"error":{"code":404,"message":"No such object: calitp-staging-pytest/all_NTDReporting/year=2026/dt=2026-01-10/ts=2026-01-10T00:00:00+00:00/all_ntdreports.jsonl.gz","errors":[{"message":"No
        such object: calitp-staging-pytest/all_NTDReporting/year=2026/dt=2026-01-10/ts=2026-01-10T00:00:00+00:00/all_ntdreports.jsonl.gz","domain":"global","reason":"notFound"}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
