[project]
name = "calitp-data-analysis"
version = "2026.1.30"
description = "Shared code for querying Cal-ITP data in notebooks, primarily."
requires-python = ">=3.11.0, <3.12.0"

dependencies = [
    "altair (>=5.1.1, <6.0.0)",
    "black==24.10.0",
    "dask (>=2024.10.0, <2025.4.0)", # breaking changes introduced with 2025.4.0 https://docs.dask.org/en/stable/changelog.html#v2025-4-0
    "dask-geopandas (>=0.2.0, <0.3.0)",
    "gcsfs==2024.5.0",
    "geopandas (>=0.14.0, <0.15.0)",
    "gtfs-segments==2.1.7",
    "ipython (>=8.9.0, <9.0.0)",
    "jinja2  (>=3.1.3, <4.0.0)",
    "pandas (>=2.0.0, <3.0.0)",
    "pandas-gbq (>=0.19.1, <0.20.0)",
    "pyairtable==2.2.2",
    "requests (>=2.31.0, <3.0.0)",
    "shapely (>=2.0.1, <3.0.0)",
    "sqlalchemy (>=2.0.0, <3.0.0)",
    "sqlalchemy-bigquery (>=1.6.1, <2.0.0)"
]

[tool.poetry.group.dev.dependencies]
hypothesis = "^6.68.0"
mypy = "^1.0.0"
pandas-stubs = "^2.0.2.230605"
pytest = "^7.2.1"
pytest-mock = "^3.14.1"
pytest-spec = "^3.2.0"
types-pyyaml = "^6.0.12.11"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
