interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra
    method: GET
    uri: https://storage.googleapis.com/storage/v1/b/calitp-staging-pytest/o?matchGlob=%2A%2A%2F202504291119_authorisations.psv&prefix=authorisations%2Finstance%3Datn%2Ffilename%3D202504291119_authorisations.psv&prettyPrint=false
  response:
    body:
      string: '{"kind":"storage#objects","items":[{"kind":"storage#object","id":"calitp-staging-pytest/authorisations/instance=atn/filename=202504291119_authorisations.psv/ts=2025-06-01T00:00:00+00:00/202504291119_authorisations.psv/1774643794444003","selfLink":"https://www.googleapis.com/storage/v1/b/calitp-staging-pytest/o/authorisations%2Finstance=atn%2Ffilename=202504291119_authorisations.psv%2Fts=2025-06-01T00:00:00%2B00:00%2F202504291119_authorisations.psv","mediaLink":"https://storage.googleapis.com/download/storage/v1/b/calitp-staging-pytest/o/authorisations%2Finstance=atn%2Ffilename=202504291119_authorisations.psv%2Fts=2025-06-01T00:00:00%2B00:00%2F202504291119_authorisations.psv?generation=1774643794444003&alt=media","name":"authorisations/instance=atn/filename=202504291119_authorisations.psv/ts=2025-06-01T00:00:00+00:00/202504291119_authorisations.psv","bucket":"calitp-staging-pytest","generation":"1774643794444003","metageneration":"1","contentType":"binary/octet-stream","storageClass":"STANDARD","size":"429","md5Hash":"XUboS5yfo8yH5JFsRSxN6A==","crc32c":"hQqhOQ==","etag":"COP94af3wJMDEAE=","timeCreated":"2026-03-27T20:36:34.472Z","updated":"2026-03-27T20:36:34.472Z","timeStorageClassUpdated":"2026-03-27T20:36:34.472Z","timeFinalized":"2026-03-27T20:36:34.472Z","metadata":{"PARTITIONED_ARTIFACT_METADATA":"{\"filename\":
        \"202504291119_authorisations.psv\", \"instance\": \"atn\", \"ts\": \"2025-06-01T00:00:00+00:00\",
        \"s3bucket\": \"mock-littlepay-bucket\", \"s3object\": {\"Key\": \"atn/v3/authorisations/202504291119_authorisations.psv\",
        \"LastModified\": \"2026-03-27 19:19:02+00:00\", \"ETag\": \"5d46e84b9c9fa3cc87e4916c452c4de8\",
        \"Size\": 429, \"StorageClass\": null}}"}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra
    method: GET
    uri: https://storage.googleapis.com/storage/v1/b/calitp-staging-pytest/o/authorisations%2Finstance%3Datn%2Ffilename%3D202504291119_authorisations.psv%2Fts%3D2025-06-01T00%3A00%3A00%2B00%3A00%2F202504291119_authorisations.psv?prettyPrint=false&projection=noAcl
  response:
    body:
      string: '{"kind":"storage#object","id":"calitp-staging-pytest[...]
[...]
