# Introduction to YAML:     https://www.youtube.com/watch?v=cdLNKUoMc6c
# Chart config reference:   https://zero-to-jupyterhub.readthedocs.io/en/stable/resources/reference.html
# Chart default values:     https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/HEAD/jupyterhub/values.yaml
# Available chart versions: https://jupyterhub.github.io/helm-chart/

jupyterhub:
  singleuser:
    defaultUrl: "/lab"
    image:
      name: ghcr.io/cal-itp/calitp-py
      tag: hub-v13
    memory:
      # Much more than 10 and we risk bumping up against the actual capacity of e2-highmem-2
      limit: 10G
      # Very roughly I have seen most usage in the 2-3GB range
      guarantee: 3G
    cpu:
      limit: 1
      guarantee: 0.5
    lifecycleHooks:
      postStart:
        exec:
          command:
            - "sh"
            - "-c"
            - >
              cp /tmp/custom.sh /home/jovyan/.profile;
  scheduling:
    userPods:
      nodeAffinity:
        matchNodePurpose: require
  hub:
    db:
      pvc:
        storage: 8Gi
    config:
      GitHubOAuthenticator:
        # client_id:     in existingSecret
        # client_secret: in existingSecret
        oauth_callback_url: https://notebooks.calitp.org/hub/oauth_callback
        allowed_organizations:
          - cal-itp:warehouse-users
        scope:
          - read:org
      JupyterHub:
        authenticator_class: github
        Authenticator:
          admin_users:
            - machow
            - themightchris
            - lottspot
    # holds github OAuth creds
    existingSecret: jupyterhub-github-config
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
    hosts:
      - notebooks.calitp.org
      - hubtest.k8s.calitp.jarv.us
    tls:
      - secretName: jupyterhub-tls
        hosts:
          - notebooks.calitp.org
          - hubtest.k8s.calitp.jarv.us
  proxy:
    service:
      type: ClusterIP
