# Introduction to YAML:     https://www.youtube.com/watch?v=cdLNKUoMc6c
# Chart config reference:   https://zero-to-jupyterhub.readthedocs.io/en/stable/resources/reference.html
# Chart default values:     https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/HEAD/jupyterhub/values.yaml
# Available chart versions: https://jupyterhub.github.io/helm-chart/

jupyterhub:
  singleuser:
    defaultUrl: "/lab"
    image:
      name: ghcr.io/cal-itp/data-infra/jupyter-singleuser
      tag: 2024.3.27
    memory:
      # Much more than 10 and we risk bumping up against the actual capacity of e2-highmem-2
      limit: 10G
      # Very roughly I have seen most usage in the 2-3GB range
      guarantee: 3G
    cpu:
      # this is to put 2 pods per e2-highmem-2 which has 1.93 allocatable
      guarantee: 0.7
    lifecycleHooks:
      postStart:
        exec:
          command:
            - "sh"
            - "-c"
            - >
              cp /tmp/profile.sh /home/jovyan/.profile;
              mkdir -p -- /home/jovyan/.jupyter;
              cp /tmp/jupyter_notebook_config.py /home/jovyan/.jupyter/jupyter_notebook_config.py;
  scheduling:
    userPods:
      nodeAffinity:
        matchNodePurpose: require
  hub:
    db:
      pvc:
        storage: 32Gi
    config:
      GitHubOAuthenticator:
        # client_id:     in existingSecret
        # client_secret: in existingSecret
        oauth_callback_url: https://notebooks.calitp.org/hub/oauth_callback
        allowed_organizations:
          - cal-itp:warehouse-users
          - cal-itp:ntd-slalom
        scope:
          - read:org
      JupyterHub:
        authenticator_class: github
        Authenticator:
          admin_users:
            - atvaccaro
            - machow
            - themightchris
            - lottspot
    # holds github OAuth creds
    existingSecret: jupyterhub-github-config
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
    hosts:
      - notebooks.calitp.org
      - hubtest.k8s.calitp.jarv.us
    tls:
      - secretName: jupyterhub-tls
        hosts:
          - notebooks.calitp.org
          - hubtest.k8s.calitp.jarv.us
  proxy:
    service:
      type: ClusterIP
