[tool.poetry]
name = "calitp-data-infra"
version = "2025.1.30"
description = "Shared code for developing data pipelines that process Cal-ITP data."
package-mode = true
authors = ["Andrew Vaccaro"]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
# Some of these are pinned oddly to play nicely with Composer
pydantic = "~1.9"
tqdm = "^4.64.1"
pendulum = "^2.1.2"
humanize = "^4.6.0"
backoff = "^2.2.1"
google-api-core = ">=1.31.4"
typing-extensions = ">=3.10.0.2"
google-cloud-secret-manager = "2.16.4"
gcsfs = "!=2022.7.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
mypy = "^1.0.0"
hypothesis = "^6.68.0"
types-requests = "^2.31.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120

[tool.mypy]
exclude = [
    "dist/",
]
