interactions:
- request:
    body: '{"UserName": "monitoringAPI", "Password": "FILTERED", "OperatorIdentifier":
      66}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
    method: POST
    uri: https://proxima-demo.pptexcellence.com/monitoring/authenticate/v1
  response:
    body:
      string: '{"Error":null,"UserId":"monitoringAPI","FirstName":"device","LastName":"monitoringAPI","SessionId":"03e113a3-9ece-47e8-a379-c2e1aba66d33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
    method: GET
    uri: https://proxima-demo.pptexcellence.com/monitoring/deviceproperties/v1/ForLocations/all?location_type=1
  response:
    body:
      string: '{"Response_date_time":"2025-07-11T15:45:53.9371965Z","List":[{"Device":{"Fo_device_logical_id":"66001","Fo_device_type":"Validator","Fo_device_type_model":"ABT3000","Fo_device_serial_number":"108008231118180362","Fo_device_description":null,"Fo_device_location_id":"604","Fo_device_location":"604","Fo_device_last_connection":"2025-03-20T13:46:52.4000000Z"},"Device_replicator_info":{"Software_version":"1.2.3.4","Software_last_connection":null,"Cd_version":"7","Cd_last_connection":"2025-03-20T12:55:50.3500000Z","Dataset_version":"0","Dataset_last_connection":null,"Denylist_version":null,"Denylist_last_connection":null,"Acceptlist_version":"0","Acceptlist_last_connection":"2025-03-18T09:14:45.4070000Z","Binlist_version":"4589","Binlist_last_connection":"2025-03-20T08:30:45.4070000Z","Asset_last_connection":null,"Monitoring_last_connection":null,"Ud_last_transaction_time":"2025-03-20T13:46:52.4000000Z"},"Device_monitor_info":{"application::isdisabled":"false","application::isinservice":"true","application::servicestatus":"{\"Rows\":[]}","gps::position":"{\\n    \"altitude\":
        31,\\n    \"dateTime\": \"\",\\n    \"direction\": 0,\\n    \"gpsFix\": 0,\\n    \"groundSpeed\":
        10,\\n    \"hasAltitude\": true,\\n    \"hasDateTime\": false,\\n    \"hasDirection\":
        false,\\n    \"hasGpsFix\": true,\\n    \"hasGroundSpeed\": true,\\n    \"hasLatitude\":
        true,\\n    \"hasLongitude\": true,\\n    \"latitude\": 36.58474333333334,\\n    \"longitude\":
        -121.82932299999999,\\n    \"numberSatelites\": 5,\\n    \"properties\": {\\n    }\\n}\\n","location::location::info":"{\\n    \"current\":
        {\\n        \"properties\": {\\n        },\\n        \"stopinfo\": {\\n            \"abbreviation\":
        \"\",\\n            \"farematrixreference\": 3,\\n            \"name\": \"Davis\",\\n            \"reference\":
        3,\\n            \"shortname\": \"\",\\n            \"type\": 0\\n        },\\n        \"zoneinfo\":
        {\\n            \"name\": \"Davis\",\\n            \"reference\": 3\\n        }\\n    },\\n    \"dataid\":
        \"\",\\n    \"dataversion\": 0,\\n    \"locationProviderSource\": \"location::devicesettings::provider\",\\n    \"properties\":
        {\\n    },\\n    \"type\": 65535\\n}\\n","location::location::serviceStatus":"Closed","location::location::source":"location::ngwifi::provider","ngwifi::gps::apistatus":"{
        \"status\": 1 }","ngwifi::gps::position":"{ \"altitude\": 129, \"fix\": 10,
        \"heading\": 0, \"latitude\": 35.371917667, \"longitude\": -119.008193167,
        \"speed\": 0.013, \"success\": true, \"timestamp\": 1721886667 }","os::uptime":"0
        00:48:33.000","smartmedium::emv3000::batterylevel":"3118"}},{"Device":{"Fo_device_logical_id":"66002","Fo_device_type":"Validator","Fo_device_type_model":"ABT3000","Fo_device_serial_number":"108008231118180362","Fo_device_description":null,"Fo_device_location_id":"635","Fo_device_location":"635","Fo_device_last_connection":"2025-03-20T13:47:31.7230000Z"},"Device_replicator_info":{"Software_version":"5.12.70.5349","Software_last_connection":"2025-03-20T12:41[...]
