images:
  metabase:
    src: metabase/metabase:v0.48.3

workloads:
  metabase:
    replicas: 3
  database:
    useExporter: false

configs:
  database:
    POSTGRES_USER: admin
    POSTGRES_PASSWORD: admin
  metabase:
    MB_DB_USER: admin
    MB_DB_PASS: admin
    MB_DB_HOST: database.metabase.svc.cluster.local

volumes:
  database:
    data:
      size: 20Gi

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: dashboards.calitp.org
      paths: [ '/' ]
    - host: metabase.k8s.calitp.jarv.us
      paths: [ '/' ]
  tls:
    - secretName: metabase-tls
      hosts:
        - metabase.k8s.calitp.jarv.us
        - dashboards.calitp.org
