[project]
name = "data-infra-airflow"
version = "0.1.0"
description = "Airflow DAGs and plugins for cal-itp-data-infra"
readme = "README.md"
requires-python = ">=3.11.6"
dependencies = [
    "apache-airflow==2.10.5",
    "apache-airflow-providers-cncf-kubernetes==10.1.0",
    "apache-airflow-providers-google==15.1.0",
    "astronomer-cosmos==1.9.0",
    "beautifulsoup4==4.12.3",
    "boto3==1.41.2",
    "ckanapi>=4.8",
    "composer-dev",
    "gtfs-realtime-bindings>=1.0.0",
    "gusty==0.6.0",
    "humanize==4.14.0",
    "openpyxl==3.1.5",
    "pyairtable==2.2.1",
    "sentry-sdk>=2.44.0",
    "typer==0.4.1",
    "urllib3<2.0.0",
]

[dependency-groups]
dev = [
    "ipdb>=0.13.13",
    "pytest>=9.0.2",
    "pytest-dotenv>=0.5.2",
    "pytest-recording>=0.13.4",
    "vcrpy>=8.0.0",
]

[tool.uv.sources]
composer-dev = { git = "https://github.com/GoogleCloudPlatform/composer-local-dev.git", tag = "0.10.2" }

[tool.pytest.ini_options]
testpaths = "tests"
env_files = [".test.env", ".env"]
