gcsfs==0.8.0
intake==0.6.1
ipdb==0.13.4
pandas==1.1.4
gusty==0.6.0
pandas-gbq==0.14.1
pybigquery==0.7.0
google-cloud-bigquery==2.34.3
calitp==0.0.12
google-auth==1.32.1
gtfs-realtime-bindings==0.0.7
geopandas==0.9.0
pyairtable==1.0.0
structlog==21.5.0
typer==0.4.0
humanize==3.14.0
backoff==1.11.1
pydantic==1.9.0
tabulate==0.8.9
google-api-core==1.31.6
typing-extensions==3.10.0.2
