apache-airflow-providers-amazon==9.17.0
astronomer-cosmos==1.14.2
beautifulsoup4==4.12.3
boto3==1.41.2
ckanapi==4.11
google-cloud-storage==2.19.0
gtfs-realtime-bindings==2.0.0
gusty==0.6.0
openpyxl==3.1.5
platformdirs==4.9.6
pyairtable==2.2.1
sentry-sdk==2.61.1
typer==0.4.1
