[tool.poetry]
name = "jupyter-singleuser"
version = "2022.10.25.1"
description = ""
authors = ["Andrew Vaccaro <atvaccaro@gmail.com>"]

[tool.poetry.dependencies]
python = "~3.10"
black = "22.3.0"
intake = "0.6.4"
intake-dcat = "0.4.0"
intake-geopandas = "0.3.0"
intake-parquet = "0.2.3"
ipyleaflet = "0.15.0"
jupytext = "1.13.5"
jupyterlab-code-formatter = "1.4.10"
voila = "0.3.6"
plotnine = "0.8.0"
plotly = "5.5.0"
folium = "0.12.1.post1"
branca = "0.4.2"
altair-saver = "0.5.0"
vega = "3.5.0"
pygeos = "0.12.0"
Rtree = "0.9.7"
openpyxl = "3.0.9"
python-dotenv = "0.19.2"
isort = "5.10.1"
seaborn = "0.11.2"
csvkit = "1.0.7"
pre-commit = "2.18.1"
jupyter-resource-usage = "0.6.1"
dask-labextension = "5.3.0"
matplotlib = "<=3.5"
dask-geopandas = "0.2.0"
dask-bigquery = "^2022.5.0"
pandas-profiling = "^3.4.0"
dask = "~2022.8"
distributed = "~2022.8"
pyodbc = "^4.0.34"
sqlalchemy-bigquery = "^1.4.4"
siuba = "1.0.0a2"
calitp = "0.0.16"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
