apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gtfs-rt-v3-test

resources:
- ns.yaml
- archiver-channel-vars.yaml
- ../gtfs-rt-archiver-v3-release

patches:
- path: consumer.patch.yaml
  target:
    name: gtfs-rt-archiver-consumer
- path: ticker.patch.yaml
  target:
    name: gtfs-rt-archiver-ticker

images:
- name: 'gtfs-rt-archiver'
  newName: 'ghcr.io/cal-itp/data-infra/gtfs-rt-archiver-v3'
  newTag: '2024.3.27'
