interactions:
- request:
    body: null
    headers:
      apikey:
      - FILTERED
    method: GET
    uri: https://transit.land/api/v2/rest/feeds?limit=1
  response:
    body:
      string: '{"feeds":[{"authorization":{"info_url":"","param_name":"","type":""},"feed_state":{"feed_version":null},"feed_versions":[{"earliest_calendar_date":"2025-06-16","fetched_at":"2025-11-07T18:20:06.616167Z","id":589603,"latest_calendar_date":"2026-04-01","sha1":"d973d1ba69c7f0f18ad7cfd9b30738da0a50cc92","url":"https://data.trilliumtransit.com/gtfs/caltrain-ca-us/caltrain-ca-us.zip"},{"earliest_calendar_date":"2025-08-20","fetched_at":"2025-08-21T03:54:12.650853Z","id":557397,"latest_calendar_date":"2026-03-01","sha1":"a2471716f1ef5095c54be003bb9552835b813d3f","url":"https://data.trilliumtransit.com/gtfs/caltrain-ca-us/caltrain-ca-us.zip"},{"earliest_calendar_date":"2025-07-01","fetched_at":"2025-06-25T19:14:27.859586Z","id":536655,"latest_calendar_date":"2025-12-31","sha1":"23fd367a7b5bf7db1332da5b65[...]
- request:
    body: null
    headers:
      apikey:
      - FILTERED
    method: GET
    uri: https://transit.land/api/v2/rest/feeds?after=1&limit=1
  response:
    body:
      string: '{"feeds":[{"authorization":{"info_url":"","param_name":"","type":""},"feed_state":{"feed_version":null},"feed_versions":[{"earliest_calendar_date":"2026-01-12","fetched_at":"2025-12-27T02:22:00.653987Z","id":610681,"latest_calendar_date":"2026-08-09","sha1":"0010669da1502258a11c6706c3569df44253912d","url":"http:[...]
[...]
- request:
    body: null
    headers:
      apikey:
      - FILTERED
    method: GET
    uri: https://transit.land/api/v2/rest/feeds?after=4&limit=1
  response:
    body:
      string: '{"feeds":[{"authorization":{"info_url":"","param_name":"","type":""},"feed_state":{"feed_version":{"feed_version_gtfs_import":{"exception_log":"","id":325853,"in_progress":false,"success":true},"fetched_at":"2025-12-04T01:58:18.775618Z","geometry":{"coordinates":[[[-74.251961,40.512764],[-73.93418,40.859022],[-73.927271,40.865491],[-73.898583,40.889248],[-73.85062,40.903125],[-73.830834,40.8883],[-73.783817,40.712646],[-73.755405,40.603995],[-73.768175,40.595398],[-73.776013,40.592943],[-73.835592,40.580903],[-74.251961,40.512764]]],"type":"Polygon"},"id":601252,"sha1":"b3b3f88db7d48efc5c9ab52e560efca52bccc49f","url":"https://rrgtfsfeeds.s3.amazonaws.com/gtfs_subway.zip"}},"feed_versions":[{"earliest_calendar_date":"2025-12-08","fetched_at":"2025-12-04T[...]
[...]
- request:
    body: !!binary |
      LS09PT09PT09PT09PT09PT0wMjQ5NTQ3MDYxNDkwNTg1NDQwPT0NCmNvbnRlbnQtdHlwZTogYXBw
      bGljYXRpb24vanNvbjsgY2hhcnNldD1VVEYtOA0KDQp7Im5hbWUiOiAiZ3Rmc19hZ2dyZWdhdG9y
      X3NjcmFwZV9yZXN1bHRzL2R0PTIwMjUtMDYtMDEvdHM9MjAyNS0wNi0wMVQwMDowMDowMCswMDow
      MC9hZ2dyZWdhdG9yPXRyYW5zaXRsYW5kL3Jlc3VsdHMuanNvbmwuZ3oiLCAiY3JjMzJjIjogImtM
      YnFKZz09In0NCi0tPT09PT09PT09PT09PT09MDI0OTU0NzA2MTQ5MDU4NTQ0MD09DQpjb250ZW50
      LXR5cGU6IGFwcGxpY2F0aW9uL2pzb25sDQoNCh+LCAAz5Ft[...]
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      content-type:
      - application/json; charset=UTF-8
      x-goog-user-project:
      - cal-itp-data-infra-staging
      x-upload-content-type:
      - application/json; charset=UTF-8
    method: GET
    uri: https://storage.googleapis.com/download/storage/v1/b/calitp-staging-pytest/o/gtfs_aggregator_scrape_results%2Fdt%3D2025-06-01%2Fts%3D2025-06-01T00%3A00%3A00%2B00%3A00%2Faggregator%3Dtransitland%2Fresults.jsonl.gz?alt=media
  response:
    body:
      string: !!binary |
        H4sIADPkW2kC/82a3Y6iMBiGz/cyOB4BEQRMNptZzewF7JxtNk2Bqo2lZdoi40zm3hf8mSBqZv2D
        70yE9n1bfR++Nn03FmRljIw+mkVThXCuBUqoisWSyBWyjQeD45QYI54z9mBMCUlQLhlSWpa[...]
