sentry-sdk==1.17.0
beautifulsoup4==4.12.3
pyairtable==2.2.1
typer==0.4.1
gusty==0.6.0
boto3==1.26.87
calitp-data-infra @ git+https://github.com/cal-itp/data-infra.git@mov/add-composer-dev#egg=calitp-data-infra&subdirectory=packages/calitp-data-infra
