.cola-RStudio-icon {
  background-image: url(rstudio.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.cola-Shiny-icon {
  background-image: url(shiny.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.cola-PostgreSQL-icon {
  background-image: url(postgres.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.cola-Welcome {
  overflow-y: auto;
  padding: 32px;
}
