calitp-data-analysis==2024.1.3
jupyter-book==0.12.0
# Temporary pinning of pydata-sphinx-theme to workaround Sphinx 4.3.0 error
# https://github.com/pydata/pydata-sphinx-theme/issues/508
pydata-sphinx-theme==0.7.2
sphinxcontrib-mermaid==0.8.1
