name: Build and push gtfs-rt-archiver-v3 image

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build-gtfs-rt-archiver-v3-image.yml'
      - 'services/gtfs-rt-archiver-v3/**'
      - '!services/gtfs-rt-archiver-v3/README.md'
  pull_request:
    paths:
      - '.github/workflows/build-gtfs-rt-archiver-v3-image.yml'
      - 'services/gtfs-rt-archiver-v3/**'
      - '!services/gtfs-rt-archiver-v3/README.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  PYTHON_VERSION: '3.9'
  POETRY_VERSION: '2.0.1'

jobs:
  check:
    name: Run static checkers
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Cache Poetry
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry
          key: poetry-cache-${{ runner.os }}-python-${{ env.PYTHON_VERSION }}-poetry-${{ env.POETRY_VERSION }}

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - name: Cache Python packages
        uses: actions/cache@v3
        with:
          path: ~/.local
          key: python-cache-${{ runner.os }}-python-${{ env.PYTHON_VERSION }}-lock-${{ hashFiles('services/gtfs-rt-archiver-v3/poetry.lock') }}-${{ hashFiles('.github/workflows/*.yml') }}

      - name: Install dependencies
        working-directory: services/gtfs-rt-archiver-v3
        run: poetry install

      - name: Run mypy
        working-directory: services/gtfs-rt-archiver-v3
        run: poetry run mypy .

  build_push:
    name: Package docker image
    runs-on: ubuntu-latest
    needs: [check]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Cache Poetry
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry
          key: poetry-cache-${{ runner.os }}-python-${{ env.PYTHON_VERSION }}-poetry-${{ env.POETRY_VERSION }}

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - name: Cache Python packages
        uses: actions/cache@v3
        with:
          path: ~/.local
          key: python-cache-${{ runner.os }}-python-${{ env.PYTHON_VERSION }}-lock-${{ hashFiles('services/gtfs-rt-archiver-v3/poetry.lock') }}-${{ hashFiles('.github/workflows/*.yml') }}

      - name: Install dependencies
        working-directory: services/gtfs-rt-archiver-v3
        run: poetry install

      - name: Set project version
        working-directory: services/gtfs-rt-archiver-v3
        run: |
          PROJECT_VERSION=$(poetry version --short)
          echo "PROJECT_VERSION=$PROJECT_VERSION" >> $GITHUB_ENV

      - name: Set SHA
        working-directory: services/gtfs-rt-archiver-v3
        run: echo "GITHUB_SHA_SHORT=${GITHUB_SHA:0:6}" >> $GITHUB_ENV

      - name: Login to GitHub Repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: services/gtfs-rt-archiver-v3
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{github.repository}}/gtfs-rt-archiver-v3:${{env.PROJECT_VERSION}}-${{env.GITHUB_SHA_SHORT}}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/gtfs-rt-archiver-v3:${{env.PROJECT_VERSION}}-${{env.GITHUB_SHA_SHORT}}
          cache-to: type=inline
