name: Build and push jupyter-singleuser image

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build-jupyter-singleuser-image.yml'
      - 'images/jupyter-singleuser/**'
  pull_request:
    paths:
      - '.github/workflows/build-jupyter-singleuser-image.yml'
      - 'images/jupyter-singleuser/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build_push:
    name: Package docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to GitHub Repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          working-directory: images/jupyter-singleuser

      - name: Get image tag from pyproject.toml
        run: |
          cd images/jupyter-singleuser
          PROJECT_VERSION=$(uv version --short)
          echo "PROJECT_VERSION=$PROJECT_VERSION" >> $GITHUB_ENV

      - name: Confirm lockfile is consistent with pyproject.toml
        run: |
          cd images/jupyter-singleuser
          uv lock --check

      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          context: images/jupyter-singleuser
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{github.repository}}/jupyter-singleuser:${{env.PROJECT_VERSION}}
