name: Build and push gtfs-aggregator-scraper image

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build-gtfs-aggregator-scraper-image.yml'
      - 'jobs/gtfs-aggregator-scraper/**'
  pull_request:
    paths:
      - '.github/workflows/build-gtfs-aggregator-scraper-image.yml'
      - 'jobs/gtfs-aggregator-scraper/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check:
    name: Run static checkers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: curl -sSL https://install.python-poetry.org | POETRY_VERSION=2.0.1 python -
      - run: cd jobs/gtfs-aggregator-scraper && poetry install && poetry run mypy .

  build_push:
    name: Package docker image
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          context: jobs/gtfs-aggregator-scraper
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{github.repository}}/gtfs-aggregator-scraper:latest
