name: Build and push gtfs-aggregator-checker image

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build-gtfs-aggregator-checker-image.yml'
      - 'jobs/gtfs-aggregator-checker/**'
  pull_request:
    paths:
      - '.github/workflows/build-gtfs-aggregator-checker-image.yml'
      - 'jobs/gtfs-aggregator-checker/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_push:
    name: Package docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build development image
        if: ${{ github.event_name == 'pull_request' }}
        uses: docker/build-push-action@v2
        with:
          context: jobs/gtfs-aggregator-checker
      - name: Build and push latest image
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: docker/build-push-action@v2
        with:
          context: jobs/gtfs-aggregator-checker
          push: true
          tags: ghcr.io/${{github.repository}}/gtfs-aggregator-checker:latest
