name: Build and push gtfs-rt-parser-v2 image

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build-gtfs-rt-parser-v2-image.yml'
      - 'jobs/gtfs-rt-parser-v2/**'
  pull_request:
    paths:
      - '.github/workflows/build-gtfs-rt-parser-v2-image.yml'
      - 'jobs/gtfs-rt-parser-v2/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check:
    name: Run static checkers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: curl -sSL https://install.python-poetry.org | POETRY_VERSION=2.0.1 python -
      - run: cd jobs/gtfs-rt-parser-v2 && poetry install && poetry run mypy .

  test:
    name: Run pytest
    runs-on: ubuntu-latest
    env:
      CALITP_BUCKET__GTFS_RT_PARSED: gs://some-test-bucket
      CALITP_BUCKET__GTFS_RT_VALIDATION: gs://some-test-bucket
      GTFS_RT_VALIDATOR_VERSION: v0.0.0
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: curl -sSL https://install.python-poetry.org | POETRY_VERSION=2.0.1 python -
      - run: cd jobs/gtfs-rt-parser-v2 && poetry install && poetry run pytest

  build_push:
    name: Package docker image
    runs-on: ubuntu-latest
    needs: [check, test]
    steps:
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          context: jobs/gtfs-rt-parser-v2
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{github.repository}}/gtfs-rt-parser-v2:latest
