name: Lint and style checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v3.0.0
      - uses: crate-ci/typos@v1.19.0
        with:
          files: ./docs/**
      - uses: snok/install-poetry@v1
      - name: mypy ci
        working-directory: ci
        run: |
          poetry install
          poetry run mypy tasks.py --check-untyped-def
