name: Lint and style checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.0
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
      - uses: docker://avtodev/markdown-lint:v1
        with:
          args: '**/*.md'
