name: Publish docs to gh-pages

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install python packages
      run: |
        pip install -r airflow/requirements.txt
        pip install git+https://github.com/machow/siuba.git@stable
        pip install jupyter-book==0.12.0
    - uses: google-github-actions/setup-gcloud@master
      with:
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Build docs
      run: jb build docs

    - name: Save docs as artifact
      uses: actions/upload-artifact@v2
      with:
        name: docs-build
        path: docs/_build/html

    - name: Deploy docs
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
        publish_branch: dev-docs-jupyterbook
