name: Show diff for release channel

on:
  pull_request:
    branches:
      - 'releases/*'
    types:
      - opened
      - synchronize
      - reopened

env:
  GITHUB_TOKEN: ${{ secrets.GH_ACTIONS_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      CLOUDSDK_CORE_PROJECT: cal-itp-data-infra
      GKE_NAME: data-infra-apps
      GKE_REGION: us-west1
      USE_GKE_GCLOUD_AUTH_PLUGIN: True
    steps:
      # Setup
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
      - uses: google-github-actions/setup-gcloud@v2
      - run: gcloud components install gke-gcloud-auth-plugin
      - uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: ${{ env.GKE_NAME }}
          location: ${{ env.GKE_REGION }}
      - run: curl -sSL https://install.python-poetry.org | python -

      # Diff and write back to PR
      - id: diff
        name: Run poetry invoke
        shell: bash
        working-directory: ci
        run: |
          export RELEASE_CHANNEL=${GITHUB_BASE_REF#releases/}
          printf 'WORKFLOW: service-release-diff; RELEASE_CHANNEL=%s\n' "$RELEASE_CHANNEL"
          poetry install
          poetry run invoke diff -f "./channels/$RELEASE_CHANNEL.yaml" --outfile=diff.txt

      - uses: peter-evans/find-comment@v2
        id: fc
        with:
          issue-number: ${{ github.event.number }}
          comment-author: 'github-actions[bot]'
          direction: last
      - uses: peter-evans/create-or-update-comment@v2
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.number }}
          body-file: "ci/diff.txt"
          edit-mode: replace
