name: Deploy into release channel

on:
  push:
    branches:
      - 'releases/*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      CLOUDSDK_CORE_PROJECT: cal-itp-data-infra
      GKE_NAME: data-infra-apps
      GKE_REGION: us-west1
      USE_GKE_GCLOUD_AUTH_PLUGIN: True
    steps:
      # Setup
      - name: Check out repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: google-github-actions/setup-gcloud@v2
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - name: install auth plugin
        run: gcloud components install gke-gcloud-auth-plugin
      - uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: ${{ env.GKE_NAME }}
          location: ${{ env.GKE_REGION }}
      - run: curl -sSL https://install.python-poetry.org | python -

      # Release to channel
      - id: poetry-invoke
        name: Run poetry invoke
        shell: bash
        working-directory: ci
        run: |
          export RELEASE_CHANNEL=${GITHUB_REF#refs/heads/releases/}
          printf 'WORKFLOW: service-release-channel; RELEASE_CHANNEL=%s\n' "$RELEASE_CHANNEL"
          poetry install
          poetry run invoke secrets -f "./channels/$RELEASE_CHANNEL.yaml"
          poetry run invoke release -f "./channels/$RELEASE_CHANNEL.yaml"
