name: Test Airflow DAGs

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test-airflow.yml
      - 'airflow/**'
      - 'warehouse/**'
  pull_request:
    paths:
      - .github/workflows/test-airflow.yml
      - 'airflow/**'
      - 'warehouse/**'

env:
  PYTHON_VERSION: '3.11'
  POETRY_VERSION: '2.0.1'
  SERVICE_ACCOUNT: github-actions-service-account@cal-itp-data-infra-staging.iam.gserviceaccount.com
  WORKLOAD_IDENTITY_PROVIDER: projects/473674835135/locations/global/workloadIdentityPools/github-actions/providers/data-infra
  PROJECT_ID: cal-itp-data-infra-staging

jobs:
  compile:
    name: pytest
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    defaults:
      run:
        working-directory: airflow

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate Google Service Account
        uses: google-github-actions/auth@v2
        with:
          create_credentials_file: true
          project_id: ${{ env.PROJECT_ID }}
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICE_ACCOUNT }}

      - name: Setup GCloud utilities
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          working-directory: airflow

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run Pytest
        run: uv run pytest
